<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anji.allways.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.anji.allways.entity.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag" jdbcType="CHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, sex, update_time, flag
  </sql>
  <select id="selectUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scs_user
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>